{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

<header>
	<div class="list-group text-center">
		<div class="list-group-item flex-column active mx-5">
			<h4 class="mb-1">Deux appartements au pied des pistes</h4>
		</div>
		<div class="list-group-item flex-column">
			<h5 class="mb-1">Saint-François Longchamp</h5>
			<h5 class="mb-1 domaine">Vallée de la Maurienne</h5>
		</div>
	</div>
</header>
